<div class="animated fadeIn">
    <div class="header-app p-3">    
        <i class="fa fa-arrow-left" [routerLink]="['../']"></i>    
        <span class="pl-2">Direccion de entrega</span>
    </div>

    <!-- direcciones agregadas -->
    <div>
        <app-seleccionar-direccion (direccionSelected)="setDireccion($event)"></app-seleccionar-direccion>
    </div>

    <!-- agregar direccion -->
    <div>
        <app-agregar-direccion (saveDireccionOk)="setDireccion($event)" ></app-agregar-direccion>
        
        <!-- <div class="text-center pb-3">
            <button mat-flat-button 
                color="primary" 
                [disabled]="!isFormValid || loader > 0"
                (click)="saveDireccion()"
                >        
                <ng-container *ngIf="loader === 0; then thenTemplate; else elseTemplate"></ng-container>
                <ng-template #thenTemplate>            
                    Listo Guardar
                </ng-template>
                <ng-template #elseTemplate>
                    <ng-container *ngIf="loader === 1; else elseTemplateHecho">
                        <i class="fa fa-spinner fa-spin fa-fw"></i>
                        Guardando ...
                    </ng-container>
                    <ng-template #elseTemplateHecho>
                        <i class="fa fa-check"></i>
                        Hecho
                    </ng-template>                    
                </ng-template>
                
            </button>            
        </div>   -->
    </div>    


</div>