<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="over" position="end" [opened]="showPanelRigth" (closedStart)="showPanelRigth=false">
        <div style="max-width: 350px;">
            <div class="p-3" *ngIf="listResumenAll">
                <span class="fw-600"><i class="fa fa-arrow-left pr-2" (click)="drawer.toggle()"></i> Resumen de pedidos ({{ cantidadOrdenes | number : '2.' }})</span>
            </div>      
            <div class="p-3">
                <app-com-resumen-all-pedidos [listResumen]="listResumenAll"></app-com-resumen-all-pedidos>
            </div>
        </div>

    </mat-drawer>



  

    <div class="animated fadeInDown xh-body-odenen">
        <div class="card-encabezado p-3 text-white fs-13 d-flex justify-content-between">
            <div>
                <span 
                    class="btn-link-2 pr-2" 
                    [ngClass]="{'active': option.checked}"
                    (click)="filterList(option)"
                    *ngFor="let option of listBtnToolbar">{{ option.descripcion }}</span>            
            </div>
            <div>
                <span class="btn-link-2"  (click)="resumenOrdenesPendientes()">Resumen</span>
            </div>
        </div>

        <!-- body -->
        <div class="p-3" *ngIf="showVistaLista">
        
            <!-- vista ordenes -->

            <ngx-masonry [options]="{ horizontalOrder: true, updateLayout: true, transitionDuration: '0' }"> 
                <div 
                    ngxMasonryItem class="card-orden animated"  
                    *ngFor="let item of listOrdenes; let i=index;"
                    [ngClass]="{'quitar-orden': item.quitar, 'fadeInUp': item.new}"
                    >
                    <!-- <button (click)="quitarOrden(item)">quitar orden</button>                 -->
                    <div matRipple (click)="openDialogOrden(item)">
                        <div class="c-header fs-13 p-3 border-bottom"
                            [ngClass]="{'verde': item.color === 'v', 'amarillo': item.color === 'a', 'rojo': item.color === 'r', 'programado': item.color === 'p'}">
                            <div class="text-left">
                                <p class="fw-600 fs-15">#{{item.idpedido}}</p>
                                <p style="font-size: 14px !important;" class="badge badge-success" *ngIf="item?.json_datos_delivery?.p_header?.isCliente === 1">APP</p>                                
                            </div>
                            <div class="text-center">
                                
                                <ng-container *ngIf="item.flag_pedido_programado; else elseTemplate">
                                    <!-- pedido programado -->
                                    <i class="fa fa-clock-o fa-2x"></i>
                                    <p class="fw-600">Pedido Programado</p>
                                    <p class="fs-11"> {{ item.json_datos_delivery.p_header.arrDatosDelivery.tiempoEntregaProgamado.descripcion }} - {{ item.json_datos_delivery.p_header.arrDatosDelivery.tiempoEntregaProgamado.hora }} </p>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    
                                    <p class="fs-20 fw-600">{{ i + 1 | number: '2.' }}</p>
    
                                    <p class="fs-11">                        
                                        <ng-container *ngIf="item.isClientePasaRecoger; else elseConRepartidor">
                                            <i class="fa fa-user p-1"></i>
                                            <span>Cliente Recoge</span>
                                        </ng-container>
                                        <ng-template #elseConRepartidor>                                        
                                            <ng-container *ngIf="item.isTieneRepartidor; else elseTemplate">
                                                Asignado
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                                <ng-container *ngIf="isComercioPropioRepartidor; else elseTemplate">
                                                    No asignado
                                                </ng-container>
                                                <ng-template #elseTemplate>
                                                    <span>Repartidor no Asignado</span>
                                                </ng-template>                                                                    
                                            </ng-template>
                                        </ng-template>
                                                    
                                        
                                    </p>

                                </ng-template>
                                


                            </div>
                            <div class="text-right">
                                <!-- <p class="fw-600">{{ item.tiempo }}</p> -->
                                <p *ngIf="item.tiempo" class="fw-600 badge" style="font-size: 14px !important;" [ngClass]="{'badge-success': item.color === 'v', 'badge-warning': item.color === 'a', 'badge-danger': item.color === 'r'}">
                                    {{ item.tiempo }} {{ item.labelMinTiempo }}
                                </p>
                                <p class="fs-12">{{ item.estadoTitle }}</p>
                            </div>
                        </div>     
                        
                        
                        <div class="c-body border-bottom p-3 fs-12">
                            <div>
                                <p class="d-inline-block text-truncate w-100">Cliente: <strong>{{item.json_datos_delivery.p_header.arrDatosDelivery.nombre}}</strong></p>
                                <span class="d-inline-block text-truncate w-100">{{ item.json_datos_delivery.p_header.arrDatosDelivery.direccion }}</span>
                            </div>
                        </div>
                    </div>           

                    


                    
                    <div>
                        <app-com-resumen-pedido [elPedido]="item.json_datos_delivery.p_body"></app-com-resumen-pedido>
                    </div>

                </div>
            </ngx-masonry>
        </div>


        <!-- vista mapa -->
        <div class="animated fadeIn" *ngIf="!showVistaLista">
            
            <button matRipple type="button" class="btn btn-secondary btn-card-lista" [ngClass]="{'cerrar': cardListaToggle}" (click)="cardListaToggle = !cardListaToggle">
                <i class="fa fa-arrow-left" [ngClass]="{'fa-arrow-right': cardListaToggle}"></i>                
            </button>
            
            <div class="d-flex content-body-mapa">
                
                <!-- lista de ordenes -->
                <div class="xw-220 border-right p-3 overflow-auto card-lista" [ngClass]="{'cerrar': cardListaToggle}">
                    
                    
                    <ngx-masonry [options]="{ horizontalOrder: true, updateLayout: true, transitionDuration: '0' }"> 
                        <div 
                            ngxMasonryItem class="card-orden xw-50 animated"  
                            *ngFor="let item of listOrdenes; let i=index;"
                            [ngClass]="{'quitar-orden': item.quitar, 'fadeInUp': item.new}"
                            >
                            <!-- header -->
                            <div matRipple (click)="openDialogOrden(item)">    
                                <!-- [ngClass]="{'verde': item.color === 'v', 'amarillo': item.color === 'a', 'rojo': item.color === 'r'}" -->
                                <div class="c-header fs-13 p-3 border-bottom">

                                    <div class="text-left">
                                        <p class="fs-20 fw-600">{{ i + 1 | number: '2.' }}</p>
                                        <p class="fw-600 fs-15">#{{item.idpedido}}</p>                                                                                
                                    </div>

                                    <div class="text-right">
                                        <p class="fw-600 badge" style="font-size: 14px !important;" [ngClass]="{'badge-success': item.color === 'v', 'badge-warning': item.color === 'a', 'badge-danger': item.color === 'r'}">
                                            {{ item.tiempo }} {{ item.labelMinTiempo }}
                                        </p>
                                        <p class="fs-12">{{ item.estadoTitle }}</p>

                                        <p class="fs-11">                        
                                            <ng-container *ngIf="item.isClientePasaRecoger; else elseConRepartidor">
                                                <i class="fa fa-user p-1"></i>
                                                <span>Cliente Recoge</span>
                                            </ng-container>
                                            <ng-template #elseConRepartidor>                                        
                                                <ng-container *ngIf="item.isTieneRepartidor; else elseTemplate">
                                                    Asignado
                                                </ng-container>
                                                <ng-template #elseTemplate>
                                                    <ng-container *ngIf="isComercioPropioRepartidor; else elseTemplate">
                                                        No asignado
                                                    </ng-container>
                                                    <ng-template #elseTemplate>
                                                        <span>Buscando Repartidor...</span>
                                                    </ng-template>                                                                    
                                                </ng-template>
                                            </ng-template>
                                                        
                                            
                                        </p>

                                    </div>
                                </div>                
            
                                
            
                                <div class="c-body border-bottom p-3 fs-11">
                                    <div>
                                        <p class="d-inline-block text-truncate w-100">Cliente: <strong>{{item.json_datos_delivery.p_header.arrDatosDelivery.nombre}}</strong></p>
                                        <span class="d-inline-block text-truncate w-100">{{ item.json_datos_delivery.p_header.arrDatosDelivery.direccion }}</span>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </ngx-masonry>


                </div>
            
                <!-- mapa -->
                <div class="w-100 h-100">
                    <app-mapa-ordenes [listaPedidos]="listOrdenes" (pedidoOpen)="openDialogOrden($event)"></app-mapa-ordenes>

                    <!-- resumen informativo de pedidos -->
                    <div class="card-resumen" [ngClass]="{'ampliar': cardListaToggle}">
                        <div class="d-flex bg-white w-100">
                            <div class="border-right p-2" style="min-width: 320px;" [ngClass]="{'d-none': !isComercioPropioRepartidor && listMetodoPagoInformativo.length === 0}">
                                
                                <ng-container *ngIf="isComercioPropioRepartidor; else elseMetodoPago">

                                    <!-- tabla repartidores resuemn informativo-->
                                    <table class="table-model-1 w-100" mat-table [dataSource]="listRepartidoresInformativo">
                                        <ng-container matColumnDef="repartidor">
                                            <th mat-header-cell *matHeaderCellDef>Repartidor</th>
                                            <td mat-cell *matCellDef="let element">
                                                <p class="fw-600"> {{ element.nom_repartidor | titlecase }} {{ element.ap_repartidor | titlecase }}</p>
                                                <p class="text-secondary"><span class="fw-100">Pedidos: </span>{{element.num_pedidos | number: '2.' }} </p>
                                            </td>
                                        </ng-container>                                    
                                        <ng-container matColumnDef="importe">
                                            <th mat-header-cell *matHeaderCellDef>Importe</th>
                                            <td mat-cell *matCellDef="let element">
                                                <div *ngFor="let metodo of element.metodoPago" class="mb-1"> 
                                                    <p class="text-secondary">
                                                        <span class="fw-600 badge" [ngClass]="{'badge-primary': metodo.idtipo_pago === 3, 'badge-info': metodo.idtipo_pago === 2, 'badge-secondary': metodo.idtipo_pago === 1}">
                                                            {{metodo.descripcion | titlecase }} : 
                                                        </span> 
                                                        <span class="text-secondary pl-1">{{metodo.num_pedidos | number: '2.' }}</span> </p>
                                                    <p class="text-secondary"><span class="fw-600">Importe: </span> <span class="text-secondary">{{metodo.importe | number: '.2' }} </span> </p>
                                                </div>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsRepartidor"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsRepartidor;"></tr>
                                    </table>
                                    <!-- tabla repartidores resuemn informativo-->
                                    
                                </ng-container>
                                <ng-template #elseMetodoPago>

                                    <!-- resumen metodo pago si no tiene repartidores propios -->
                                    <table class="table-model-1 w-100" mat-table [dataSource]="listMetodoPagoInformativo">
                                        <ng-container matColumnDef="Metodo">
                                            <th mat-header-cell *matHeaderCellDef>Metodo</th>
                                            <td mat-cell *matCellDef="let element">
                                                <p class="fw-600 badge" style="font-size: 13px !important;" [ngClass]="{'badge-primary': element.idtipo_pago === 5, 'badge-info': element.idtipo_pago === 2, 'badge-secondary': element.idtipo_pago === 1}">
                                                    {{element.descripcion | titlecase }} : 
                                                </p>                                            
                                                <p class="text-secondary"><span class="fw-100">Pedidos: </span>{{element.num_pedidos | number: '2.' }} </p>
                                            </td>
                                        </ng-container>                                    
                                        <ng-container matColumnDef="importe">
                                            <th mat-header-cell *matHeaderCellDef>Importe</th>
                                            <td mat-cell *matCellDef="let element">                                            
                                                <p class="text-secondary">{{element.importe | number: '.2' }} </p>
                                            </td>
                                        </ng-container>
    
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsMetodoPago"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsMetodoPago;"></tr>
                                    </table>
                                    <!-- resumen metodo pago si no tiene repartidores propios -->
                                    
                                </ng-template>
                                
                            </div>

                            
                            
                            <div class="w-100 p-2">
                                
                                <!-- tabla pedidos resuemn informativo-->
                                <table class="table-model-1 w-100" mat-table [dataSource]="listResumenInformativo">
                                    <ng-container matColumnDef="n">
                                        <th mat-header-cell *matHeaderCellDef> # </th>
                                        <td mat-cell *matCellDef="let element"> {{element.n}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="pedido">
                                        <th mat-header-cell *matHeaderCellDef> Pedido </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <p class="fw-600 fs-14 text-secondary">
                                                #{{element.idpedido}}                                                
                                            </p>
                                            <p class="text-secondary">{{element.estado }} </p>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="direccion">
                                        <th mat-header-cell *matHeaderCellDef> Cliente </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <p class="fw-100 text-secondary">{{element.cliente | titlecase}}</p>
                                            <p class="text-secondary"> {{element.direccion}} </p> 
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="repartidor">
                                        <th mat-header-cell *matHeaderCellDef> Repartidor </th>
                                        <td mat-cell *matCellDef="let element"> <span class="text-secondary">{{element.repartidor | titlecase }}</span> </td>
                                    </ng-container>
                                    <ng-container matColumnDef="tiempo">
                                        <th mat-header-cell *matHeaderCellDef> Tiempo </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <span class="badge"
                                                [ngClass]="{'badge-success': element.color === 'v', 'badge-warning': element.color === 'a', 'badge-danger': element.color === 'r'}"
                                                >{{element.tiempo }}
                                            </span>
                                         </td>
                                    </ng-container>                                    
                                    <ng-container matColumnDef="importe">
                                        <th mat-header-cell *matHeaderCellDef> importe </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <span class="text-secondary fw-600">{{element.importe | number: '0.2' }} </span>
                                            <span class="badge"
                                                [ngClass]="{'badge-primary': element.metodoPago.idtipo_pago === 3, 'badge-info': element.metodoPago.idtipo_pago === 2, 'badge-secondary': element.metodoPago.idtipo_pago === 1}"
                                                >{{element.metodoPago.descripcion }}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialogOrdenFromInformativo(row)" class="xCursor"></tr>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>

            </div>            
        </div>
    </div>

</mat-drawer-container>