.xh-body-odenen {
    height: calc(100vh - 58px);
}

.content-body-mapa {
    /* margin-top: 56px; */
    height: calc(100vh - 110px);
    overflow: auto;
}

.masonry-item { 
    width: 200px; 
    /* height: 300px;  */
    background: lightseagreen;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-orden {
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    /* min-width: 260px; */
    width: 310px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #eeeeee;
    filter: drop-shadow(1px 1px 2px #444);
    transition: ease-in all 0.3s;
}

.card-orden.xw-50 {
    width: 220px;
}

.card-encabezado {
    background-color: #37474f;
}

.xw-220{
    min-width: 270px;    
}

.card-orden.quitar-orden {
    margin-left: -200px;
    opacity: 0;
}

.c-header {
    transition: all 0.3s;
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px 0px 0px;
    background: #e0e0e0;
}

.c-header.verde {
    background: lightgreen;
}

.c-header.amarillo {
    background: khaki;
}

.c-header.rojo {
    background: lightcoral;
}

.c-header.programado {
    background: #80deea;
}

.c-etiqueta-tiempo.verde {
    background: lightgreen;
}

.c-etiqueta-tiempo.amarillo {
    background: khaki;
}

.c-etiqueta-tiempo.rojo {
    background: lightcoral;
}

.c-header p{ margin: 0px;}
.c-body p{ margin: 0px;}


.card-resumen {
    width: calc(100% - 270px);
    position: fixed;
    bottom: 0px;    
    border-top: solid 2px #37474F;
    max-height: 250px;
    overflow: auto; 
    transition: ease-in all 0.2s;   
}

.card-resumen.ampliar {
    width: 100%;
}

.card-lista {
    margin-left: 0px;
    background-color: #455a64;
    transition: ease-in all 0.2s;
}

.card-lista.cerrar {
    margin-left: -270px;
}

.btn-card-lista {
    position: fixed;
    left: 230px;
    z-index: 1;
    transition: ease-in all 0.2s;
}

.btn-card-lista.cerrar {
    left: 0px;
}