<google-map height="100%" width="100%"
    [zoom]="zoom" [center]="center"
    [options]="options">

    <map-marker #markerElem *ngFor="let marker of markersRepartidores"
        [position]="marker.position" [label]="marker.label"
        [title]="marker.title" [options]="markerOptionsRepartidor"
        (mapClick)="openInfo(markerElem, marker)">  
    </map-marker>

    <map-marker #markerElem *ngFor="let marker of markersPedidos; let i = index;"
        [position]="marker.position" [label]="marker.label"
        [title]="marker.title" [options]="markerOptionsPedido"
        (mapClick)="openPedido(i)">  
    </map-marker>

</google-map>
