<google-map height="100%" width="100%"
    [zoom]="zoom" [center]="center"
    [options]="options">

    <map-marker *ngIf="markerComercio" #markerElemComercio
        [position]="markerComercio.position"
        [title]="markerComercio.title" [options]="markerComercio.options"
        (mapClick)="openInfo(markerElemComercio, markerComercio)">  
    </map-marker>

    <map-marker #markerElemRepartidor *ngFor="let markerRepartidor of markersRepartidores"
        [position]="markerRepartidor.position" [label]="markerRepartidor.label"
        [title]="markerRepartidor.title" [options]="markerOptionsRepartidor"
        (mapClick)="openInfo(markerElemRepartidor, markerRepartidor)">  
    </map-marker>

    <map-marker #markerElem *ngFor="let marker of markersPedidos; let i = index;"
        [position]="marker.position" [label]="marker.label"
        [title]="marker.title" [options]="marker.options"
        (mapClick)="openPedido(i)">  
    </map-marker>

</google-map>
