<div class="animated fadeInUp card-pedido">
    <div class="card-pedido-head border-bottom pb-2 d-flex justify-content-between">
        <div>
            <span>Pedido #{{infoPedido.idpedido}}</span>
        </div>
        <div>
            <span class="fw-600 text-secondary fs-13 pr-2"> {{ timerLimitService.countTime$ | async }}''</span>

            <button class="btn btn-success" (click)="aceptarPedido()">

                <ng-container *ngIf="estadoPedido === 0 ; else elseTemplate">
                    Aceptar
                </ng-container>
                <ng-template #elseTemplate>
                    En proceso, ver.
                </ng-template>
                
                
            </button>
        </div>                        
    </div>
    <!-- timer -->
    <div class="card-pedido-timer">
        <!-- <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar> -->
        <app-progress-time-limit></app-progress-time-limit>
    </div>

    <div class="card-pedido-body">
        <div class="pt-3 fs-13">
            <p class="fw-100">Comercio : <span class="fs-14">{{ infoPedido.datosDelivery.establecimiento.nombre }}</span></p>
            <p class="fw-100">Hasta : <span class="fs-14">{{ infoPedido.datosDelivery.direccionEnvioSelected.direccion }}</span></p>
        </div>
        <hr>
        <div>
            <span class="fs-14 fw-600 text-success" [ngClass]="{'text-info': this.infoPedido.datosDelivery.metodoPago.idtipo_pago === 1}">{{ DesPagarCon }} </span>
            <hr>
        </div>
        <div class="d-flex justify-content-between fs-13 text-center">
            <div>
                <p class="fw-100">Distancia</p>
                <span class="fs-15 fw-600">{{ infoPedido.datosDelivery.establecimiento.distancia_km }} Km</span>
            </div>
            <div>
                <p class="fw-100">Importe Pedido</p>
                <span class="fs-15 fw-600">S/. {{ infoPedido.importePedido | number: '.2' }}</span>
            </div>
            <div>
                <p class="fw-100">Ganancia</p>
                <img *ngIf="infoPedido.isHayPropina" class="img-propina" src="assets/images/r-propina-coin.png" alt="img-propina">
                <span class="fs-15 fw-600">S/. {{ infoPedido.c_servicio | number: '0.2' }}</span>
            </div>
        </div>
    </div>
</div>