<div class="animated fadeIn">
    <!-- encabezado -->
    <div class="d-flex justify-content-between">
        <div>            
            <p class="fw-600">Pedido #{{orden.idpedido}}  <span *ngIf="orden.json_datos_delivery.p_header.isCliente === 1" class="badge badge-success">
                APP
            </span>           </p>
            <div class="fs-13">

                <ng-container *ngIf="orden.isClientePasaRecoger; else elseConRepartidor">
                    <div class="bg-warning rounded">
                        <i class="fa fa-user p-1"></i>
                        <span>Cliente Recoge</span>
                    </div>
                    <span class="text-success" [ngClass]="{'text-danger': isRepartidorPaga}">{{ descripcionComoClienteRecoge }}</span>
                </ng-container>
                <ng-template #elseConRepartidor>

                    <p><i class="fa fa-motorcycle" aria-hidden="true"></i> Repartidor: {{ nomRepartidor || 'No asignado' }}</p>
                    <ng-container *ngIf="isComercioPropioRepartidor && orden.flag_solicita_repartidor_papaya !== 1; else elseTemplateNoRepartidores">
                        <mat-form-field *ngIf="orden.pwa_delivery_status !== '4'"> 
                            <mat-select [(value)]="repartidorSelected" (selectionChange)="saveRepartidor($event)">
                              <mat-option *ngFor="let item of listRepartidoresPropios" [value]="item">{{ item.nombre }}</mat-option>                          
                            </mat-select>
                          </mat-form-field>
                    </ng-container>
                    <ng-template #elseTemplateNoRepartidores>                                        
                        <p *ngIf="nomRepartidor"><i class="fa fa-phone" aria-hidden="true"></i> {{ orden.telefono_repartidor }} </p>
                        <p class="text-success" [ngClass]="{'text-danger': isRepartidorPaga}">{{ descripcionComoPagaRepartidor }}</p>
                    </ng-template>

                </ng-template>
                

                
            </div>
            <!-- <button *ngIf="!isTieneRepartidor && !isRepartidoresPropios">Buscar Repartidor</button> -->
        </div>
        <div class="d-flex">

            <div *ngIf="isHabilitadoLLamarRepartidorPapaya">
                <div class="pr-2" *ngIf="!orden.isClientePasaRecoger && orden.flag_solicita_repartidor_papaya !== 1 && isComercioPropioRepartidor">
                    <button class="btn btn-info" title="Solicita un repartidor de la red de Papaya Express para este pedido." (click)="solicitarRepartopapaya()">
                        <i *ngIf="!loaderFlagRepartidor" class="fa fa-bicycle pr-2" aria-hidden="true"></i>
                        <i *ngIf="loaderFlagRepartidor" class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
                        <span class="fw-100 fs-11 hidden-mobile">LLamar repartidor Papaya Express</span>
                    </button>
                </div>
            </div>

            <!-- boton cerrar -->
            <div>
                <button type="button" class="btn btn-secondary" mat-dialog-close>
                    <i class="fa fa-close"></i>                
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="fs-13">
            <span class="fs-13 fw-600 text-secondary">Cliente: </span>
            <p><i class="fa fa-user"></i>  {{orden.json_datos_delivery.p_header.arrDatosDelivery.nombre}}</p>
            <p><i class="fa fa-map-marker"></i>  {{orden.json_datos_delivery.p_header.arrDatosDelivery.direccion}}</p>
            <p><i class="fa fa-map-marker"></i>  {{orden.json_datos_delivery.p_header.arrDatosDelivery.referencia}}</p>
            <p><i class="fa fa-phone"></i> {{ orden.json_datos_delivery.p_header.arrDatosDelivery.telefono }}</p>

            <!-- metodo de pago -->
            <p class="fw-600 badge" [ngClass]="{'badge-primary': orden.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.idtipo_pago === 3, 'badge-info': orden.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.idtipo_pago === 2, 'badge-secondary': orden.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.idtipo_pago === 1}">
                <span class="fs-15">{{orden.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.descripcion | titlecase }} </span>

                <span *ngIf="orden.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.idtipo_pago === 2" class="pl-2">
                    Cliente pago con tarjeta desde la aplicación.
                </span>
            </p>
                    
        </div>
    </div>
    <hr>

    <div class="d-flex justify-content-between">
        <div class="fs-13">
            <span class="fs-13 fw-600 text-secondary">Facturarción: </span>
            <p><strong>{{orden.json_datos_delivery.p_header.arrDatosDelivery.tipoComprobante.descripcion}} </strong> {{descripcionDetalleFacturacion}} </p>            
        </div>

        <div class="fs-13 text-right" *ngIf="isFacturacionActivo">
            <div class="text-right">
                <ng-container *ngIf="orden.pwa_facturado === 0; else elseTemplateFacturado">
                    <button class="btn btn-success" (click)="goFacturar()">
                        Emitir Comprobante
                    </button>
                </ng-container>
                <ng-template #elseTemplateFacturado>
                    <i *ngIf="!loaderFacturacion" class="fa fa-check fa-2x text-success"></i>
                    <i *ngIf="loaderFacturacion" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                </ng-template>                       
            </div>
        </div>

    </div>
    <hr>

    <mat-tab-group class="tabs-no-header" [selectedIndex]="_tabIndex">
        <mat-tab>
            <!-- detalles del pedido -->
            <app-com-resumen-pedido [elPedido]="orden.json_datos_delivery.p_body" [elArrSubtTotales]="orden.json_datos_delivery.p_subtotales" [showTitulo]="true" ></app-com-resumen-pedido>
            
            <hr>

            <!-- boton accion segun estado -->
            <div class="text-center">
                <button mat-flat-button color="primary"
                    (click)="setEstadoOrden()"    
                    [disabled]="loaderEstado"
                >            
                    <i *ngIf="loaderEstado" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    <span class="fs-18">{{ btnActionTitule }}</span></button>
            </div>

        </mat-tab>
        <mat-tab>
            <!-- facutacion -->
            <app-com-facturador [hidden]="!isShowControlFacturador" [orden]="orden" [validarDatos]="showFacturar" (isShowControl)="onChangeFacturador($event)"></app-com-facturador>
        </mat-tab>
        <mat-tab>
            <app-com-registrar-pago [orden]="orden" (closeWindow)="cerrarDetalles($event)"></app-com-registrar-pago>
        </mat-tab>
    </mat-tab-group>            
</div>