<agm-map *ngIf="coordenadas"
    [latitude]="coordenadas.latitude" 
    [longitude]="coordenadas.longitude"
    [zoom]="coordenadas.zoom">
    <agm-marker 
        [latitude]="coordenadas.latitude" 
        [longitude]="coordenadas.longitude"
        [markerDraggable]="false"        
        >
    </agm-marker>
    
    <!-- [markerDraggable]="true"
    (dragEnd)="markerDragEnd($event)" -->
    <agm-marker 
        [latitude]="coordenadas.latitude" 
        [longitude]="coordenadas.longitude"        
        [label]="Repartidor"
        [iconUrl]='{"url": "./assets/images/delivery-man.png", "scaledSize": {"height": 25, "width": 25}}'
        >
    </agm-marker>
</agm-map>   