.div-plr {
    padding-left: 7px;
    padding-right: 7px;
}

.div-content-all {
    top: 0px;
    position: sticky;
}

.titulo-tpc {
    background: #424242;
    color: #e0e0e0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.titulo-seccion {
    padding-top: 8px;
    padding-bottom: 8px;
    background: blanchedalmond;
}

.li-item {
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: 1px solid #e0e0e0;
}

.div-total {
    border-top: 2px dashed #9e9e9e;
}

.ul-total li:last-child{
    font-size: 20px;
    font-weight: 800;
}

.countItem {
    padding: 4px 7px 4px 7px;
    border-radius: 90%;
    line-height: 1;
    font-size: 12px;
    margin-top: 2px;
}

.countTpc{
    float: right;
    background: #212121;
    color: #bdbdbd;
}

.countSeccion {
  float: right;
  color: #616161;
  background: #ffcc80;
}
