.content-pago {
    height: 100vh;
    background: #E5EFF7;
}

.header-pago {
    background: #3F51B5;
    color: white;
    width: 100%;
}

.loader-pago {
    position: absolute;
    z-index: 1;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    background: #212121;
    width: 100%;
    opacity: 0.9;
    color: white;
}

.loader-pago div {
    top: 50%;
    position: relative;
    width: 50%;    
    margin: 0 auto;
}


.btn-pago-disabled {
    transition: all ease-in-out 1s;
    background: grey;
    border-radius: 5px;
    padding: 8px;
    width: 50%;
    color: white;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.btn-hidden {
    display: none;
}

.div-btn {
    height: 48px;
}

.banner-res-ok {
    color: white;
    background: #436BE1;
}

.banner-res-error {
    color: white;
    background: #ef5350;
}